<div class="container">
  <div class="carrito">
    <div class="mensaje">Tu Carrito</div>
    <div class="productos">
      <div class="encabezado">
        <div class="frase">Producto</div>
        <div class="precio">Precio</div>
        <div class="cantidad">Cantidad</div>
      </div>
      <div *ngFor="let item of items">
        <div class="producto">
          <div class="imagen"><img [src]="item.imgPath" alt="" /></div>
          <div class="descripcion">
            <div class="nombre">{{ item.name }}</div>
            <div class="color">Talla: {{ item.size }}</div>
          </div>
          <div class="precio">${{ item.price | number: "1.0-2" }}</div>
          <div class="cantidad">
            <input
              (change)="calculateTotal()"
              [(ngModel)]="item.quantity"
              type="number"
              [min]="1"
              name=""
              id=""
            />
          </div>
          <div (click)="deleteItem(item.productId, item.size)" class="eliminar">
            <img src="../../../assets/images/trash.png" alt="" />
          </div>
        </div>
      </div>
      <div class="total">
        <div class="volver">
          <a style="text-decoration: none" routerLink="/products"
            >← Volver al inicio
          </a>
        </div>
        <div class="pagar">
          <div class="monto">${{ total | number: "1.0-2" }} COP</div>
          <div>
            <input
              (click)="saveCartItems()"
              class="botonPagar"
              type="button"
              value="PAGAR"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
