<div class="container">
  <div class="carrito">
    <div class="mensaje">Tu Carrito</div>
    <div class="productos">
      <div class="encabezado">
        <div class="frase">Producto</div>
        <div class="precio">Precio</div>
        <div class="cantidad">Cantidad</div>
      </div>
      <div class="producto">
        <div class="imagen"><img src="images/gallery_6.jpg" alt="" /></div>
        <div class="descripcion">
          <div class="nombre">Falda veranera</div>
          <div class="color">Palo de rosa</div>
        </div>
        <div class="precio">$40.000</div>
        <div class="cantidad">
          <input type="text" placeholder="1" name="" id="" />
        </div>
        <div class="eliminar"><img src="images/trash.png" alt="" /></div>
      </div>
    </div>
  </div>
</div>
