<div class="container">
  <div class="footer">
    <div class="nombre">AZURITA BOUTIQUE</div>
    <div class="categorias">
      <ul class="ul">
        <li><a href="">INICIO</a></li>
        <li><a href="">CARRITO</a></li>
        <li><a href="">PRODUCTOS</a></li>
        <li><a href="">SOBRE NOSOTROS</a></li>
      </ul>
    </div>
    <div class="redesSociales">
      <div class="instagram">
        <img src="../../../assets/images/instagram.svg" alt="" />
      </div>
      <div class="whatsapp">
        <img src="../../../assets/images/whatsapp.svg" alt="" />
      </div>
    </div>
    <div class="copyright">
      Copyright ©2022 AZURITA | LO ULTIMO EN ROPA PARA DAMAS by AZURITA
    </div>
  </div>
</div>
