<div class="container">
  <div class="background" style="background-image: url(images/background.jpg)">
    <div class="content">NUEVA COLECCION</div>
  </div>
</div>

<div class="container">
  <div class="frase1">SOLO LO MEJOR</div>
  <div class="frase2">PRECIOS ESPECIALES</div>
</div>

<div class="container">
  <div class="productContainer">
    <div class="columnProduct">
      <div class="image"><img src="images/producto1.jpg" alt="" /></div>
      <div class="detalles">
        <div class="nombreProducto">Diarios</div>
        <div class="precioProducto">$45.000</div>
      </div>
      <div class="compra">
        <div class="carrito">
          <img src="images/shopping-bag-white.svg" alt="" />
        </div>
        <div class="comprarInmediato">+</div>
      </div>
    </div>
  </div>
</div>
