<div class="container">
  <div
    class="background"
    style="background-image: url(../../../assets/images/background.jpg)"
  >
    <div class="content">NUEVA COLECCION</div>
  </div>
</div>

<div class="container">
  <div class="frase1">SOLO LO MEJOR</div>
  <div class="frase2">PRECIOS ESPECIALES</div>
</div>

<div *ngIf="productsToShow" class="random-products-container">
  <div *ngFor="let item of productsToShow" class="productContainer">
    <div class="columnProduct">
      <div class="image">
        <img [src]="item.imgPath" alt="" />
      </div>
      <div class="detalles">
        <div class="nombreProducto">{{ item.name }}</div>
        <div class="precioProducto">
          ${{ item.price | number: "1.0-2" }} COP
        </div>
      </div>
      <div class="compra">
        <div class="carrito">
          <img src="../../../assets/images/shopping-bag-white.svg" alt="" />
        </div>
        <div class="comprarInmediato">+</div>
      </div>
    </div>
  </div>
</div>
