<div class="container">
  <div class="navbar">
    <div class="logo">
      <img src="assets/images/logob.png" width="125px" />
    </div>
    <div class="hamburguer">
      <a id="hamburguer" href="#">
        <img src="../../../assets/images/menu.png" width="30px" />
      </a>
    </div>
    <nav id="nav-ul" class="nav-ul">
      <ul>
        <li><a routerLink="index">INICIO</a></li>
        <li><a routerLink="cart">CARRITO</a></li>
        <li><a routerLink="products">PRODUCTOS</a></li>
        <li><a routerLink="aboutus">SOBRE NOSOTROS</a></li>
        <li *ngIf="!token"><a routerLink="login">INICIAR SESION</a></li>
        <li *ngIf="token" style="cursor: pointer" (click)="logout()">SALIR</li>
      </ul>
    </nav>
  </div>
</div>
