* {
  font-family: Mukta, sans-serif;
  background-color: rgb(223, 219, 214);
}

.container {
  padding-top: 50px;
  margin: auto;
  max-width: 1500px;
}

input {
  width: 40px;
  margin-bottom: 15px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: right;
  direction: rtl;
}

input:focus {
  text-align: right;
  outline: none;
  direction: rtl;
}

.random-products-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.background {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 1.5vh 1.5vh 1.5vh 1.5vh;
  width: 30vw;
  text-align: center;
  color: aliceblue;
  font-size: 3vw;
  background-color: #716858;
}

.frase1 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: Mukta, sans-serif;
  font-weight: bold;
  color: #716858;
  display: block;
  text-align: center;
}

.frase2 {
  text-align: center;
  font-size: 60px;
  padding-bottom: 50px;
}

.productContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.columnProduct {
  display: flex;
  margin: 0 15px 0 15px;
  justify-content: space-between;
  align-items: center;
}

.columnProduct .image {
  background-color: rgb(223, 219, 214);
  display: flex;
}

.columnProduct .image img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.detalles {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-left: 20px;
  padding-top: 5px;
  font-family: Mukta, sans-serif;
  font-weight: bold;
}

.detalles .precioProducto {
  color: #605e5c;
  padding-bottom: 15px;
  font-size: 18px;
}

.detalles .nombreProducto {
  color: #000000;
  font-size: 28px;
}
.columnProduct {
  margin-bottom: 50px;
}

.columnProduct .compra {
  display: flex;
  justify-content: space-between;
}

.sizes-radio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 105px;
}

.compra .carrito {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.compra .carrito img {
  height: 20px;
  background-color: #ab9c82;
}

.compra .carrito:hover {
  opacity: 0.8;
}

.compra .comprarInmediato:hover {
  opacity: 0.8;
}

.compra .carrito:active {
  opacity: 1.2;
  width: 36px;
  height: 36px;
}

.compra .comprarInmediato:active {
  opacity: 1.2;
  width: 36px;
  height: 36px;
}

.botonPagar {
  font-family: Mukta, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  background-color: #afaba5;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.botonPagar:hover {
  background-color: #9b9893;
}
