<div class="container">
  <div *ngIf="product" class="productContainer">
    <div class="columnProduct">
      <div class="image">
        <img style="cursor: pointer" src="{{ product.imgPath }}" alt="" />
        <div class="detalles">
          <div class="box-style">
            <div style="cursor: pointer" class="nombreProducto">
              {{ product.name }}
            </div>
            <div class="precioProducto">
              ${{ product.price | number: "1.0-2" }} COP
            </div>
            <p>Selecciona una talla</p>
            <div class="sizes-radio">
              <div *ngFor="let size of product.sizeDetails">
                <input
                  [(ngModel)]="selectedSize"
                  value="{{ size.sizeName }}"
                  type="radio"
                  name="size"
                  id="{{ size.sizeName }}"
                />
                <label for="{{ size.sizeName }}"> {{ size.sizeName }}</label>
              </div>
            </div>
            <div>
              <label for="quantity">Cantidad: </label>
              <input
                [(ngModel)]="quantity"
                type="text"
                name="quantity"
                id="quantity"
              />
            </div>
          </div>
          <div class="compra">
            <button class="botonPagar" (click)="sendItemToCart()">
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
