<div class="container">
  <div class="nuestraMarca">
    <div class="texto">
      <div class="titulo">Nuestra Marca</div>
      <div class="parrafo">
        Tendencias tiene como objetivo la comercialización de prendas de vestir
        y accesorios pret-a-porter que resaltan la belleza de la mujer actual,
        regida por las últimas tendencias de la moda para cada temporada
        (primavera-verano y otoño-invierno) en ropa, calzado y accesorios. En
        nuestras tiendas encontraras siempre un portafolio de productos y
        servicios enfocados a la satisfacción de la mujer que desea sentirse
        bella, moderna y glamurosa en toda ocasión
      </div>

      <div class="titulo">Encuentranos</div>
      <div class="parrafo">
        Somos una tienda virtual, puedes consultar nuestra tienda de Instagram
        @Azurita o a través de nuestro whatsap 3003241321
      </div>
    </div>
    <div class="imagen">
      <img src="../../../assets/images/_azurita_-20062022-0009.jpg" alt="" />
    </div>
  </div>
</div>
