<div class="loginCard">
  <div class="login">
    <div class="mensaje">BIENVENIDO</div>
    <div>
      <div class="form">
        <label for="email">Email</label>
        <input class="text" type="text" name="email" id="email" />
        <label for="password">Contraseña</label>
        <input class="text" type="password" name="password" id="password" />
        <input class="button" type="submit" value="Login" />
        <div class="redireccion" style="background-color: white">
          ¿Eres nuevo? <a routerLink="/signup">Regístrate</a>
        </div>
      </div>
    </div>
  </div>
  <div class="registrate"></div>
</div>
