* {
  font-family: Mukta, sans-serif;
  background-color: rgb(223, 219, 214);
}

.container {
  margin: auto;
}

.container-new-product {
  text-align: center;
}

.random-products-container {
  margin: auto;
  padding-top: 50px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.background {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 1.5vh 1.5vh 1.5vh 1.5vh;
  width: 30vw;
  text-align: center;
  color: aliceblue;
  font-size: 3vw;
  background-color: #716858;
}

.frase1 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: Mukta, sans-serif;
  font-weight: bold;
  color: #716858;
  display: block;
  text-align: center;
}

.frase2 {
  text-align: center;
  font-size: 60px;
  padding-bottom: 50px;
}

.productContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.columnProduct {
  display: flex;
  width: 300px;
  margin: 0 15px 0 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.columnProduct .image img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.columnProduct .detalles {
  font-family: Mukta, sans-serif;
  font-weight: bold;
}

.detalles .precioProducto {
  color: #605e5c;
}

.detalles .nombreProducto {
  color: #000000;
  font-size: 19px;
}
.columnProduct {
  margin-bottom: 50px;
}

.columnProduct .compra {
  display: flex;
  justify-content: space-between;
}

.compra .carrito {
  cursor: pointer;
  display: flex;
  background-color: #ab9c82;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.compra .carrito img {
  height: 20px;
  background-color: #ab9c82;
}

.compra .comprarInmediato {
  cursor: pointer;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #afafaf;
  padding: 0px;
}

.compra .carrito:hover {
  opacity: 0.8;
}

.compra .comprarInmediato:hover {
  opacity: 0.8;
}

.compra .carrito:active {
  opacity: 1.2;
  width: 36px;
  height: 36px;
}

.compra .comprarInmediato:active {
  opacity: 1.2;
  width: 36px;
  height: 36px;
}

.boton-crear-producto {
  margin-top: 15px;
  font-family: Mukta, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  background-color: #afaba5;
  width: 200px;
  height: 25px;
  cursor: pointer;
}

.boton-crear-producto:hover {
  opacity: 0.8;
}

.delete-product {
  width: 36px;
  background-color: rgb(239, 105, 105);
}

.delete-product:hover {
  opacity: 1.5;
  cursor: pointer;
}
